  <header class="header">
    <h1>SAVED ARTICLES</h1>
    <nav class="button-group">
      <a href="/"><button class="button-dark">Home</button></a>
    </nav>
  </header>

  {{!-- #each to iterate through articles and create article panels --}}
  {{#each articles}}
    {{#if saved}}
    {{/if}}
  {{/each}}

