
<header class="header">
  <h1 class="title">Mongo-Scraper</h1>
  <nav class="button-group">
    <button class="button-dark" id="scrape" data-toggle="modal" data-target="#modalScraped">Scrape New Articles</button>
    <a href="/articles/saved"><button class="button-dark" id="viewSaved">View Saved Articles</button></a>
  </nav>
</header>




{{!-- {{#each articles}}

{{/each}} --}}

{{>modalScrapeCount}}


