/* BORDERS AROUND ARTICLES */
.articles,
.note
{
  border: 2px dashed black;
  padding: 10px;
  margin: 10px;
}

/* SIDE BORDERS */
.container {
  border-right-color:#337ab7;
  border-right-width:200px;
  border-right-style:ridge;

  border-left-color:#337ab7;
  border-left-width:200px;
  border-left-style:ridge;
}

/* BUTTON STYLING */
#home_button,
#scrape,
#viewSaved {
  background: rgb(28, 68, 100);
  color: white;
  border-radius: 20%;
  height: 5%;
}

#home_button:hover,
#scrape:hover,
#viewSaved:hover {
  background: gray;
}

#home_button {
  width: 50%;
}

#scrape,
#viewSaved{
  width: 25%;
}

#saveArticle,
.addnote,
.deleteArticles {
  background: rgb(52, 124, 180);
  color: white;
  border-radius: 20%;
  height: 5%;
}

#saveArticle:hover,
.addnote:hover,
.deleteArticles:hover{
  background: gray
}

/* TYPEWRITER EFFECT */
.typewriter {
  overflow: hidden; 
  border-right: .15em solid #337ab7; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #337ab7; }
}

/* NOTE MODAL STYLING */

#noteInput {
  width:100%;
  margin: 0 auto;
}

.deleteNote,
#submitNote {
  float:right;
  background: #337ab7; 
  color: white;
  border-radius: 5px;
}

.deleteNote:hover,
#submitNote:hover {
  background: gray;
}
